body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0d0d0d;
  color: #f0e6d2;
  overflow: hidden;
}

.pagina {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* css do meno lateral*/
.janela {
  width: 20%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  box-shadow: 3px 0 8px rgba(0, 0, 0, 0.7);
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 40px 0;
  gap: 20px;
}

.navbar h1 {
  text-align: center;
  margin-top: 0px;
  font-size: 20px;
}

.btn-nav,
.btn-logout {
  width: 110px;
  margin: 20px 0;
  background-color: #000000;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s ease;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.btn-nav a {
  display: block;
  padding: 12px 0;
  color: #f0e6d2;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1em;
  border: 1px solid white;
  border-radius: 8px;
}

.btn-nav:hover {
  background-color: #ffd700;
  box-shadow: 0 0 10px #d8b886;
}

.btn-nav:hover a {
  color: #2a1f00;
}

.btn-logout {
  background-color: #ff0000;
  color: #f0e6d2;
  font-weight: bold;
  font-size: 1.1em;
  padding: 12px 0;
  border-radius: 8px;
  box-shadow: 1px 1px 8px #5a0000;
  user-select: none;
  margin-top: auto;
  width: 100px;
}

.btn-logout h3 a {
  text-decoration: none;
  color: white;
}

.btn-logout:hover {
  background-color: #d44444;
  box-shadow: 0 0 12px #ff8080;
}

.conteudo {
  width: 85%;
  height: 100vh;
  background-image: linear-gradient(to right, black, rgb(66, 66, 66));
  padding: 40px;
  border-left: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

/* css da escolha do quiz */
.telaSelecao {
  text-align: center;
}

.telaSelecao h1 {
  font-size: 44px;
  font-weight: 700;
  color: #ffd700;
}

.telaSelecao p {
  color: #ffffff;
  font-size: 17px;
  margin-bottom: 40px;
}

.opcoesDeQuiz {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 10px;
}

.cardQuiz {
  background-color: #161616;
  border: 1px solid #2a2a2a;
  border-radius: 12px;
  padding: 36px 40px;
  width: 220px;
  cursor: pointer;
  transition: border-color 1s;
}

.cardQuiz:hover {
  border-color: #ffd700;
  transform: translateY(-15px);
}

.cardQuiz h3 {
  font-size: 24px;
  font-weight: 700;
  color: #ffd700;
  margin-bottom: 8px;
}

.cardQuiz p {
  font-size: 17px;
  color: #777777;
}

/*Css das questoões e pontuação */
#pontuacaoEJogo {
  color: #f0e6d2;
}

.flex-colunar {
  display: flex;
  flex-direction: column;
}
.width-fit-content {
  width: fit-content;

}
.padding-8 {
  padding: 8px;
}
.border-primary {
  border: 1px solid #ffd700;
  border-radius: 4px;
  margin-bottom: 12px;
}
.border-secondary {
  border: 1px solid #f0e6d2;
  border-radius: 4px;
}
.text-bold {
  font-weight: bold;
}

.text-success-with-bg {
  color: #4caf50;
  font-weight: bold;
  margin-top: 20px;
}
.text-danger-with-bg {
  color: #f44336;
  font-weight: bold;
  margin-top: 20px;
}
.text-warning-with-bg {
  color: #ffd700;
  font-weight: bold;
  margin-top: 20px;
}
.text-new-gray {
  opacity: 0.4;
}

.radio {
  margin-right: 6px;
  accent-color: #ffd700;
}
.option {
  cursor: pointer;
}

#botoes button {
  display: block;
  margin-top: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  background-color: #ffd700;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  color: #000;
}
